body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
  }
  a{text-decoration: none;}
  .GetStartedBtn:hover{
    background: #209dd8;

  }
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #37517e;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #37517e;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
/* ---<<<<====Header Section====>>>>--- */
#header{
    background: rgba(40, 58, 90, 0.9);
    padding: 15px 0;
    z-index: 999;
}

.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#logo{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 2px;
}
#logo a{
    color: #fff;
    display: block; 
}

.get-started{
    float: right;
    margin: 0;
    padding: 7px;
}
.get-started a{
    padding: 7px 20px;
    color: #fff;
    border: 2px solid #209dd8;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}
.get-started a:hover{
    background: #209dd8;
    color: #fff;
}
@media (min-width: 1199px){
   header nav .menu{
        margin-left: 65px;
    }
}
@media (max-width: 992px) {
    header .get-started {
        position: absolute;
        right: 100px;
        top: -33px;
    }
  }
  @media (max-width: 520px){
    header .get-started {right: 85px;}
  }

/*--====Nav Section====-- */
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul a{
    text-decoration: none;
    padding: 10px 0 10px 28px;
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
nav ul a:hover, .active{
    color: #47b2e4;
}
a:hover{
    text-decoration: none;
}
nav ul li{
    float: left;
    position: relative;
}
nav ul ul{
    position: absolute;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    top: 100%;
    left: 0;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul a{
    padding: 5px 15px;
    color: #000;
}
nav ul ul li{
    float: none;
    width: 180px;
}
nav ul ul ul{
    left: -100%;
    top: 0;
}
.fa-bars{
    color: #fff;
    font-size: 40px;
    margin-left: 50px;
}

nav [id^=drop],.toggle{
    display: none;
}
/* Mobile nav */
@media all and (max-width: 992px) {
  nav .toggle + a, header .menu{
      display: none;
  }
  nav .menu{
    margin-top: 10px;
  }
  nav .toggle{
      display: block;
      color: #000;
      margin: 0;
      padding: 3px 15px;
      font-size: 15px;
  }
  nav .toggle:hover{
    color: #47b2e4;
  }
  nav .nav-icon{
      color: #fff;
      font-size: 20px;
      position: absolute;
      top: -30px;
      right: 0;
  }
  nav ul ul, nav ul ul ul{
      display: none;
  }
  nav [id^=drop]:checked + ul{
    display: block;
    width: 100%;
  }
  
  nav ul li{
      float: none;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
  }
  nav ul li a{
      padding: 0;
      padding: 3px 15px;
      color: #000;
  }
  nav ul{
      background: #fff;
      box-shadow: none;
      border-radius: 5px;
  }
  nav ul ul{
      position: static;
      float: none;
      width: 100%;
      background: none;
      box-shadow: none;
      border: none;
  }
  nav ul ul li{
      display: block;
      width: 100%;
      margin-left: 15px;
  }
  nav ul ul ul{
      position: static;
      width: 100%;
      float: none;
      box-shadow: none;
      border: none;
  }
  nav ul ul ul li {
    position: static;
    margin: 0;
    width: 100%;
    display: block;
    margin-left: 20px;
}
nav ul li:hover > ul,
nav ul ul li:hover > ul{
    display: none;
}
}
/* ----End Nav section---- */
/* ---<<<<====End Header Section====>>>>--- */

/*--=====Cover Section====--*/
#cover{
    background: #37517e;
}
#cover .container{
    padding-top: 120px;
}
#cover h1{
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 10px 0;
}
#cover h2{
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 55px;
    font-size: 24px;
}
#cover img{
    max-width: 100%;
    height: auto;
}
#cover .get-started-btn{
    color: #fff;
    display: inline-block;
    background: #47b2e4;
    border-radius: 50px;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 16px;
    margin-right: 20px;
    position: relative;
}
#cover .get-started-btn:hover{
    background: #209dd8;
    transition: 0.5s;
}
  
#cover .watch{
    font-size: 16px;
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 10px 0 10px 30px;
}
#cover .play-btn{
    font-size: 40px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 3px;
}
#cover .play-btn:hover{
    color: #209dd8;
    transition: 0.5s;
}
#cover .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
#cover .animated{
    -webkit-animation: none;
    animation: none;
}

.text{
    margin-bottom: 50px;
}
span{
    margin-left: 20px;
}

@media (max-width: 992px){
    #cover{
        height: 100vh;
        text-align: center;
    }
    #cover .cover-img{
        text-align: center;
    }
    /* #cover .cover-img img{
        width: 50%;
    } */
    #cover h1{
        font-size: 28px;
        line-height: 36px;
        
    }
    #cover h2{
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px){
    #cover h1{
        font-size: 28px;
        line-height: 36px;
        
    }
    #cover h2{
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #cover .cover-img img{
        width: 70%;
    }
    #cover .text{
        align-items: center;
    }
}

@media (max-width: 575px) {
    #cover .cover-img img{
        width: 80%;
    }
    #cover .get-started-btn{
        font-size: 16px;
        padding: 10px 24px 11px 24px;
        text-align: center;
    }
    #cover .watch{
        font-size: 16px;
        padding: 10px 0 8px 40px;
        text-align: center;
    }
    #cover .watch i{
        font-size: 32px;
        top:  7px;
    }
    #cover .text{
        padding-bottom: 50px;
    }
}
/* ----End Cover-section---- */

/* --====Clients Section====-- */
#clients{
    background: #f3f5fa;
    padding: 10px 0;
    text-align: center;
}
#clients img{
    max-width: 45%;
    padding: 15px 0;
    transition: all 0.4s ease-in-out;
    display:inline-block;
    filter:grayscale(100);
}
#clients img:hover{
    filter:none;
    transform: scale(1.1);
}
/* ----End Clients Section */

section{
    padding: 60px 0;
    /* overflow: hidden; */
}
@media (max-width: 575px){
    #clients img{
        width: 30%;
    }
}
/* --=====About-Section====-- */
.section-title{
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #37517e;
    position: relative;
}
.section-title h2::before{
    content: '';
    position: absolute;
    display: block;
    bottom: 1px;
    left: calc(50% - 60px);
    width: 132px;
    height: 1px;
    background: #ddd;
}
.section-title h2::after{
    content: '';
    position: absolute;
    display: block;
    bottom: 1px;
    left: calc(50% - 20px);
    width: 40px;
    height: 3px;
    background: #47b2e4;
}
.content #learn-more{
    border: 2px solid #47b2e4;
    display: inline-block;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1;
    border-radius: 4px;
    padding: 12px 32px;
    color: #47b2e4;
    margin-top: 6px;
    transition: all 0.3s;
}
.content #learn-more:hover{
    background:  #47b2e4;
    color: #fff;
}
.content ul li{
    list-style: none;
}
.content ul .fa-check-double{
    margin-right: 5px;
    color:  #47b2e4;
    font-size: 14px;
}
/*----End About Us---- */

/* --====Why Us Section====-- */
.why-section{
    background: #f3f5fa;

}
.why-section .content{
    padding: 60px 100px 0 0;
}
.why-section .content h3{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
}
.why-section .content .p-text{
    color: #ababad;
}
strong{
    font-weight: bolder;
}
.why-section .accordion-list .accordion-tab{
    margin: 0;
    padding: 0;
    background: #fff;
    padding: 15px 10px;
    margin-top: 15px;
}
.why-section .accordion-list .accordion-tab label i{
    float: right;
    padding-right: 5px;
    padding-top: 3px;
    font-size: 20px;
    font-weight: 600;
}

.why-section .accordion-list label{
    display: block;
    color: #343a40;
    font-weight: 600;
    font-size: 16px;
    padding-top: 5px;
    cursor: pointer;
    transition: all .3s;

}
.why-section .accordion-list label:hover{
    color: #47b2e4;
}
.why-section .accordion-list label span{
    color: #47b2e4;
    font-weight: bolder;
    padding-right: 5px;
}
.why-section .accordion-list .accordion-content{
    max-height: 0;
    transition: all ease-out .4s;
    overflow: hidden;
    padding-left: 15px;
}
.why-section .accordion-tab .accordion-toggle{
    display: none;
}
.why-section .accordion-tab .accordion-toggle:checked ~ .accordion-content{
    max-height: 100vh;
    transition: all ease-in .4s;
}
.why-section .accordion-tab .accordion-toggle:checked ~ label{
    color: #47b2e4;
}

/* .accordion-toggle:checked ~ label i{
    transform: rotate(180deg);
} */

.why-bg{
    /* background: url(../images/why-us.png); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
@media (max-width: 992px){
    .why-section .why-bg{
        min-height: 400px;
    }
    .why-section .content{
        padding: 0;
        margin: 0;
    }
}
/*----End Why Section---- */

/* --====Skills Section====-- */
.skills .img-fluid{
    max-width: 100%;
    height: auto;
}
.skills .content h3{
    font-weight: 700;
    font-size: 32px;
    color: #37517e;
}
.skills .content .italic-font{
    font-style: italic;
}
.skills .skills-content ul{
    padding: 0;
    margin: 0;

}
.skills .skills-content ul li{
    list-style-type: none;
    margin: 30px 0px;
    position: relative;
}
.skills .skills-content ul li span{
    margin-left: 0;
    padding-left: 0;
    color: #4668a2;
    font-size: 13px;
    font-weight: 700;
}
.skills-content ul li .percent{
    float: right;
}
.skills .skills-content li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    background-color: #e8edf5;
    width: 100%;
    height: 12px;
}
.skills .skills-content li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: #4668a2;
    width: 0;
    height: 12px;

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: forward;
}
.skills-content li.html::after{
    animation-name: html;
    width: 100%;
}
@keyframes html{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
.skills-content li.css::after{
    animation-name: css;
    width: 90%;
}
@keyframes css{
    from{
        width: 0%;
    }
    to{
        width: 90%;
    }
}
.skills-content li.javascript::after{
    animation-name: javascript;
    width: 75%;
}
@keyframes javascript{
    from{
        width: 0%;
    }
    to{
        width: 75%;
    }
}
.skills-content li.photoshop::after{
    animation-name: photoshop;
    width: 55%;
}
@keyframes photoshop{
    from{
        width: 0%;
    }
    to{
        width: 55%;
    }
}
/* ----End Skills Section---- */

/* ====Services Section==== */
.services{
    background: #f3f5fa;
}
.services .icon-box{
    background-color: #fff;
    box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
    padding: 50px 30px;
    transition: all ease-in-out .4s;
    height: 260px;
    margin-bottom: 20px;
}
.services .icon-box:hover {
    transform: translateY(-10px);
  }
.services .icon-box:hover h4 a{
    color: #47b2e4;
    transition: .3s;
}
.services .icon-box h4 a{
    color:#37517e;
    font-size: 22px;
    transition: ease-in-out 0.3s;
}
.services .icon-box h4{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
}
.services .icon-box .icon{
    margin-bottom: 15px;
}
.services .icon-box .icon i{
    font-size: 30px;
    font-weight: 600;
    color: #47b2e4;
    margin-left: 5px;
}
/* End Services Section */
/* Cta Secton */
.cta{
    /* background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../images/cta-bg.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 0px;
    background-attachment:fixed;
}
.cta .content{
    color: #fff;
}
.cta .content h3{
    font-weight: 700; 
}
.cta .cta-btn{
    color: #fff;
    /* display: block; */
    text-align: center;
    padding: 12px 40px;
    border: 2px solid #fff;
    border-radius: 50px;
    float: right;
    transition: all ease-in-out .3s;
}
.cta .cta-btn:hover{
    background: #47b2e4;
    border: 2px solid #47b2e4;
    transition: all ease-in-out .3s;
}
@media (max-width: 992px) {
    .cta .cta-btn{
        padding: 10px 20px;
    }
}
@media (max-width: 768px) {
    .cta{
        text-align: center;
    }
    .cta .content{
        margin-bottom: 20px;
    }
    .cta .cta-btn{
        float: none;
    }
}
/* End Cta Section */

/*====Portfolio Section==== */
.portfolio-section .portfolio-filters{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
}
.portfolio-section .portfolio-filters li{
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
    margin-right: 10px;
    border-radius: 20px;
}
.portfolio-filters li:hover{
    background: #47b2e4;
    color: #fff;
    cursor: pointer;
}
.portfolio-filters .active{
    color: #fff;
    background: #47b2e4;
}
.portfolio-section .portfolio-iteam{ 
    margin-bottom: 30px;
}
.portfolio-iteam .portfolio-img img{
    height: auto;
    transition: .6s;
}
.portfolio-iteam .portfolio-img img:hover{
    transition: .6s;
    transform: scale(1.3);
    cursor: pointer;
}

.portfolio-iteam{
    position: relative;
    overflow: hidden;
}
.portfolio-iteam .portfolio-info{
    background: rgba(55, 81, 126, 0.8);
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 15px;
    visibility: hidden;
    transition: ease-in-out 0.2s;
}
.portfolio-iteam:hover > .portfolio-info{
    visibility:visible;
}
.portfolio-iteam .portfolio-info .fl h4{
    font-size: 18px;
    font-weight: 550;
    margin: 0;
    padding: 0;
}
.portfolio-iteam .portfolio-info .fl p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.portfolio-iteam .portfolio-info .fr a{
    color: #fff;
    margin: 0 5px;
    font-size: 17px;
    font-weight: 400;
}
.portfolio-iteam .portfolio-info .fr a:hover{
     color: #47B2E4;
 }
/* ----End portfolio Section---- */

/* <<<<====Team Section====>>>> */
.team{
    background: #f3f5fa;
}
.team .member{
    box-sizing: border-box;
    background: #fff;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out .5s;
    overflow: hidden;
}
.team .member:hover {
    transform: translateY(-10px);
  }
.team .member .pic{
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    width: 150px;
    border-radius: 50%;
}
.team .member .pic img{
    max-width: 100%;
    height: auto;
}
.team .member .member-info{
    width: 300px;
    float: left;
    padding-left: 30px;
}
.team .member .member-info h4{
    font-size: 20px;
    font-weight: 700;
    color: #4668a2;
}
.team .member .member-info span{
    display: block;
    font-size: 15px;
    margin-left: 0;
    padding-bottom: 7px;
    margin-bottom: 12px;
    position: relative;
}
.team .member .member-info p{
    font-size: 15px;
}
.team .member .member-info span::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
}
.team .member .member-info .social-link a{
    background: #eff2f8;
    display: inline-flex;
    color: #37517e;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: ease-in-out .3s;
}
.team .member .member-info .social-link a i{
    font-size: 16px;
    text-align: center;
}
.team .member .member-info .social-link a:hover{
    background: #47b2e4;
    color: #fff;
}
/* ---<<<<====End Team Section====>>>>--- */

/* ---<<<<====Pricing Section====>>>>--- */
.pricing .box{
    box-shadow: 0 3px 20px -2px rgb(20 45 100 / 10%);
    padding: 60px 40px;
    border-radius: 5px;
}
.pricing .active-box{
    border-top: 4px solid #23a3df;
}
.pricing .box h3{
    color: #37517e;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.pricing .box h4{
    color: #37517e;
    font-size: 48px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin: 0;
}
.pricing .box h4 sup{
    font-size: 28px;
}
.pricing .box > span{
    display: block;
    color: #4eb5e5;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}
.pricing .box ul{
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}
.pricing .box ul li{
    list-style-type: none;
    padding-bottom: 15px;
    color: #b5b5b5;
}
.pricing .box ul li i{
    color: #2ca949;
    margin-right: 10px;
    font-weight: 600;
}
.pricing .box ul li .fa-times{
    color: #ccc;
}
.pricing .box ul li span{
    margin-left: 0;
    color: #ccc;
    text-decoration: line-through;
}
.pricing .box .buy-btn{
    font-weight: 700;
    font-size: 15px;
    color:#23a3df;
    padding: 14px 30px;
    border: 1px solid #23a3df;
    border-radius: 25px;
    transition: all ease-in-out .3s;
}
.pricing .box .buy-btn:hover,.pricing .box .active-btn {
    background:#49b3e4;
    color: #fff;
}
.pricing .box .active-btn:hover{
    background: #23a3df;
    
}
@media (max-width: 992px){
    .pricing .box{
        max-width: 60%;
        margin: 0 auto 30px auto;
    }
}
@media (max-width: 768px) {
    .pricing .box {
      max-width: 80%;
      margin: 0 auto 30px auto;
    }
  }
@media (max-width: 420px) {
    .pricing .box {
      max-width: 100%;
      margin: 0 auto 30px auto;
    }
  }
  
/* ---<<<<====End Pricing Section====>>>>--- */

/* ---<<<<====Faq Section====>>>>--- */
.faq{
    background: #f3f5fa;
}
.faq .faq-list{
    margin: auto 100px;
}
.faq .faq-list ul{
    margin: 0;
    padding: 0;
}
.faq .faq-list .accordion-list{
    list-style-type: none;
    background: #fff;
    margin-bottom: 15px;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.faq-list .accordion-list .accordion-toggle{
    display: none;
}
.faq .faq-list .accordion-list label{
    cursor: pointer;
    display: block;
    color: #37517e;
    font-weight: 600;
    transition: all ease .3s;
}
.faq .faq-list .accordion-list label:hover{
    color: #49b3e4;
}
.faq .faq-list .accordion-list label > i{
    font-size: 20px;
    font-weight: 500;
    color: #49b3e4;
    margin-right: 5px;
    align-items: center;
}
.faq .faq-list .accordion-list label .angle{
    float: right;
    position: relative;
    transition: all .4s;
}
.faq .faq-list .accordion-list label .angle .fa-angle-down{
    margin-right: 5px;
    position: absolute;
    left: 1px;
    /* right: 5px; */
}
.faq .faq-list .accordion-list label .angle .fa-angle-up{
    visibility: hidden;
}
.faq-list .accordion-list .accordion-content{
    max-height: 0;
    overflow: hidden;
    transition: all ease .4s;
}
.faq-list .accordion-list .accordion-toggle:checked ~ .accordion-content{
    max-height: 100vh;
    transition: all ease-in-out .5s;
}
.faq-list .accordion-list .accordion-toggle:checked ~ label .angle .fa-angle-down{
    visibility: hidden;
}
.faq-list .accordion-list .accordion-toggle:checked ~ label .angle .fa-angle-up{
    visibility: visible;
    transition: all .4s;
}
@media (max-width: 992px){
    .faq .faq-list{
        margin: 0;
    }
}
/* ---<<<<====End Faq Section====>>>>--- */

/* ---<<<<====Contact Section====>>>>--- */
.contact .info{
    padding: 30px;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
}
.contact .info i{
    float: left;
    background: #e7f5fb;
    color: #47b2e4;
    font-size: 20px;
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: all ease-in-out .4s;
}
.contact .info h4{
    font-size: 20px;
    font-weight: 700;
    color:#37517e;
}
.contact .info p{
    color: #7E99C7;
    font-size: 14px;
    font-weight: 600;
}
.contact .info .hov:hover i{
    background: #47b2e4;
    color: #fff;
    transition: all ease-in-out .4s;
}
.contact .contact-form{
    padding: 30px;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
}
.contact .contact-form input{
    height: 44px;
}
.contact .contact-form textarea{
    padding: 10px 12px;
    width: 100%;
    border-color: #ced4da;
}
.contact .contact-form input, .contact-form textarea{
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 20px;
}
 .contact .contact-form textarea:focus{
    border: none;
    border-color: #47b2e4;
}
.contact .contact-form .submit-btn{
    text-align: center;
}
.contact .contact-form .submit-btn a{
    color: #fff;
    background: #47b2e4;
    padding: 12px 35px;
    transition: 0.4s;
    border-radius: 50px;
}
.contact .contact-form .submit-btn a:hover{
    background: #209dd8;
}
@media (max-width: 768px){
    .contact .contact-form{
        margin-top: 50px;
    }
}
/* ---<<<<====End Contact Section====>>>>--- */

/* ---<<<<====Footer Section====>>>>--- */
#footer .footer-newslater{
    background: #f3f5fa;
    padding: 50px;
}
#footer .footer-newslater h4{
    text-align: center;
    font-weight: 700;
    color: #37517e;
    margin-bottom: 20px;
}
#footer .footer-newslater p{
    font-size: 15px;
    color:#444444;
}
#footer .footer-newslater form{
    margin-top: 30px;
    background: #fff;
    position: relative;
    padding: 6px 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
    border-radius: 50px;
}
#footer .footer-newslater form input[type="email"]{
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
#footer .footer-newslater form input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    background: #47b2e4;
    color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: .3s;
}
#footer .footer-newslater form input[type="submit"]:hover{
    background: #209dd8;
}

/* ---<<<<====Top footer====>>>>--- */
#footer .footer-top{
    padding: 50px;
}
#footer .footer-top .footer-contact h3{
    font-size: 28px;
    font-weight: 700;
    color: #37517e;
    margin-bottom: 10px;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
}
#footer .footer-top .footer-links h4{
    font-size: 17px;
    font-weight: 700;
    color: #37517e;
    margin-bottom: 20px;
    font-family: "Jost", sans-serif;
}
#footer .footer-top .footer-links p{
    font-size: 14px;
}
#footer .footer-top .footer-links ul{
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    list-style-type: none;
    margin-bottom: 15px;
}
#footer .footer-top .footer-links ul li a{
    font-size: 14px;
    line-height: 24px;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
    transition: .3s;
}
#footer .footer-top .footer-links ul li a i{
    margin-right: 5px;
    color: #47b2e4;
}
#footer .footer-top .footer-links ul li a:hover{
    color: #47b2e4;
}
#footer .footer-top .footer-links .social-links a i{
    display: inline-flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    background: #47b2e4;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    transition: .3s;
}
#footer .footer-top .footer-links .social-links a i:hover{
    background: #209dd8;
}
@media(max-width: 768px) {
    #footer .footer-top .footer-contact{
        padding-bottom: 40px;
        text-align: center;
    }
    #footer .footer-top .footer-links{
        padding-bottom: 40px;
        text-align: center;
    }
}

/* ---<<<<====Bottom Footer====>>>>--- */
#footer .footer-bottom{
    background: #37517e;
    overflow: hidden;
}
#footer .footer-bottom .creadits a{
    color: #209dd8;
}
#footer .footer-bottom .copyright{
    font-size: 14px;
    padding: 30px 0;
    color: #fff;
    float: left;
}
#footer .footer-bottom .creadits{
    font-size: 14px;
    padding: 30px 0;
    color: #fff;
    float: right;
}
@media (max-width: 768px){
    #footer .footer-bottom .copyright{
        float: none;
        text-align: center;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    #footer .footer-bottom .creadits{
        float: none;
        text-align: center;
        padding: 0;
        padding-bottom: 20px;
    }
}   
/* ---<<<<====End Footer Section====>>>>--- */

.back-to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.back-to-top i{
    background: #47b2e4;
    color: #fff;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: .3s;
    opacity: .5s;
    visibility: .5s;
    opacity: 1;
    z-index: 1000;
}
.back-to-top i:hover{
    background: #209dd8;
}
.back-to-top.show{
    opacity: 0;
}